{% extends 'bootstrap/base.html' %}

{% block title  %} Login {% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/login.css') }}" >
{% endblock %}

{% block script %}
    {{super()}}
    <script src="{{url_for('.static', filename='js/custom.js')}}"></script>
{% endblock %}


{% block content %}
    <form action="/login/" method="post" class="form-sign text-center">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brans/bootstrap-solid.svg" alt="" height="72" width="72" />

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <div class="checkbox mb-3">
            <label class="sronly">E-mail</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus />
        </div>


    </form>
{% endblock %}